body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

header {
    border: 3px solid black;
    text-align: center;
    color: black;
    font-size: large;
}

#main {
    border: 3px solid black;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.social {
    text-align: center;
    color: darkblue;
}

.profile {
    text-align: center;
    color: darkred;
}